.git
.gitignore
.venv
venv
env
.env
.ruff_cache
.mypy_cache
.pytest_cache
htmlcov
.coverage
__pycache__
*.py[cod]
*$py.class
*.egg-info
*.egg
.eggs
dist
build
.DS_Store
data/
docs/
tests/
*.fits
Dockerfile
docker-compose.yml
.dockerignore
.pre-commit-config.yaml
